header{
  height: 100px;
  border: 5px solid black;
  margin: 5%;
  padding-bottom: 90px;
  
}

header h2{
  width:30px;
  height: 125px;
  margin: 20px;
  background-color: blueviolet;
  display: inline-block;
}

header h1{
  width: 500px;
  height: 150px;
  margin: 20px;
  background-color: green;
  display: inline-block;
}

header h3{
  border-radius: 150px;
  height: 150px;
  width: 150px;
  margin: 20px;
  background-color: lightblue;
  display: inline-block;
}

main{
  margin: 5%;
  border: 5px black dotted;
  padding: 5%;  
}

article{
  height: 200px;
  background-color: lemonchiffon;
  box-shadow: 5px 5px 5px black;
}

footer h1 {
  width: 50%;
  height: 250px;
  margin-left: 25%;
  color:darkblue;
  box-shadow: 5px 5px 10px black;
  text-align: center;
  padding-top: 10%;
}