body{
  margin: 0px;
  padding: 0px;
}

header{
  width: 100%;
  height: 100px;
  margin: 0px;
  padding: 10px;
  background-color: lightgrey;
}

h1{
  margin: 0px;
  margin-left: 10px;
  height: 100px;
  width: 100px;
  background-color: dodgerblue;
  /* margin-left: 5px; */
}

#text{
  font-size: 50px;
  padding: 60px;
}

.bar{
  width: 100%;
  height: 150px;
  margin: 0px;
}

#blue{
  background-color: dodgerblue;
}

#turquoise{
  background-color: turquoise;
}

#barf{
  background-color: yellowgreen;
}

#banana{
  background-color: gold;
}

